
<div class = "d-flex align-items-center ml-1">
  <%= cl_image_tag van.pictures, alt: "alttext", width: "80", height: "90" %>
  <div class = "ml-1 text-center">
    <h6><%= van.availability %></h6>
    <h6><%= van.prices %>€</h6>
  </div>
</div>
