

  <div class="d-flex justify-content-between van_new">
    <h2 class="new">Ajoutez votre Van...    <i class="fas fa-shuttle-van"></i></h2>
  <div style="margin-top: 17px;" class="form-home">
    <%= render 'form' %>
    </div>
  </div>
