<div class="container">
  <h2 class="new">Ajoutez votre Van...    <i class="fas fa-shuttle-van"></i></h2>
</div>


  <div class="d-flex justify-content-end van_new">
  <div style="margin-top: 17px;">
    <%= render 'form' %>
    </div>
  </div>
