<h2>Vans#show</h2>
  <div class="container">
    <div class="descprition">
      <p><%= @van.town %></p>

      <p><%= @van.availibility %></p>

      <p><%= @van.prices %></p>
    </div>
    <div class="picture">
      <p><%= @van.picture %></p>
    </div>
  </div>
