
<body>
  <header>
    <h2 id="H">Book your Van!</h2>
  </header>

  <div class="bg-img banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')">
  </div>
  <section class="container">
    <div id="userVan">
      <img class="avatar-a" alt="avatar" src="https://ca.slack-edge.com/T02NE0241-U3HFUV8DA-63795d118b7b-72" />
      <p><strong><em>Kev Cha Van</em></strong></p>
    </div>
    <div id="description-a">
      <p><strong><em>City;</em></strong> <%= @van.town %></p>
    </div>
    <div id="description-b">
      <p><strong><em>Availability;</em></strong> <%= @van.availability %></p>
    </div>
    <div id="description-c">
      <p><strong><em>Prices;</em></strong> <%= @van.prices %>$</p>
    </div>
  </section>
  <div>
    <div class="calendar">

    </div>
  </div>
  <section class="container-a">
    <div class="link">
      <p><strong>Contact Kev Cha for book this Van!</strong> <a href="email">stetienne@yahoo.fr</a></p>
    </div>
  </section>
</body>
</html>
