
<body>
  <header>
    <h2 id="H">Book your Van!</h2>
  </header>

  <div class="bg-img banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @van.image, height: 300, width: 400, crop: :fill %>')">
  </div>
  <section class="container">
    <div id="userVan">
      <img class="avatar-a" alt="avatar" src="https://ca.slack-edge.com/T02NE0241-U3HFUV8DA-63795d118b7b-72" />
      <p><strong><em>Kev Cha Van</em></strong></p>
    </div>
    <div id="description-a">
      <p><strong><em>City;</em></strong> <%= @van.town %></p>
    </div>
    <div id="description-b">
      <p><strong><em>Availability;</em></strong> <%= @van.availability %></p>
    </div>
    <div id="description-c">
      <p><strong><em>Prices;</em></strong> <%= @van.prices %>$</p>
    </div>
  </section>
  <div>
    <div class="calendar">

    </div>
  </div>
  <section class="container-a">
    <div class="link">
      <p><strong>Contact Kev Cha for book this Van!</strong> <a href="email">stetienne@yahoo.fr</a></p>
    </div>
  </section>
</body>
</html>
