.new_user {

}

.form-actions {
    input {
        font: 16px $headers-font;
        padding: 6px 13px;
        background-color: #BADFDB;
          // color: rgb(51, 51, 51);
          // -webkit-border-radius: 13px;
          // -moz-border-radius: 13px;
          border-radius: 6px;
          border-width: 0;
          color: $main-color;
          margin-bottom: 20px;
    }
  }

  .button_regist {
        font: 16px $headers-font;
        padding: 6px 13px;
        background-color: #BADFDB;
          // color: rgb(51, 51, 51);
          // -webkit-border-radius: 13px;
          // -moz-border-radius: 13px;
          border-radius: 6px;
          border-width: 0;
          color: $main-color;
          margin-bottom: 20px;
          margin: 0px 171px;
          a {
              text-decoration: none;
              color: $main-color;
          }
  }