// Specific CSS for your home-page

.container-home {
  width: 1180px;
}

  .form-home {
    background-color: #fcf9ea;
    display: block;
    position: absolute;
    right: 100px;
    width: 35%;
    padding: 10px;
    border-radius: 5px;
}
