.container {
  border-radius: 2px solid black;
  color: black;
  max-width: 900px;
  margin: 50px auto;
  background-size: cover;
}

#pic {

}

#description {
  margin-right: 200px;
}

h2 {
  font: 'Roboto';
  text-align: center;
  margin: 0 auto;
}


