.imgvan{
  width: 50px;
  height: 50px;
  float: right;
}


.avatar-a{
  width: 80px;
  border-radius: 50%;
  position: relative;
  right: -204px;
  top: -24px;
}



.banner-show {

  h2 {
    color: #fcf9ea;
    margin: auto;
    font-family: 'roboto';
    font-size: 30px;
  }

}

.container-show-van{
  width: 1080px;
  margin: 0 auto;
}


#contact-show {

  width: 20%;
  text-align: center;
  margin-top: 10px;
  padding:10px;
  a{
    text-decoration: none;
    color: $main-color;
  }
}



.cards-userVan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

}

.card-category-infos{
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 10px #DCDCDC;
  padding: 10px;

}

.button-booking {
  float: right;
  margin-bottom: 20px;
  padding: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
