
.van-show {

  .container-van-show {
    max-width: 500px;
    padding: 40px;
    border: 2px solid white;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: $main-color;
    margin-left: 120px;
    margin-top: 50px;
  }
  .link {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: $main-color;
    text-align: center;
    max-width: 500px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  #H {
    text-align: center;
    margin: 0 auto;
    padding: 18px;
    // margin: 18px;
    font-family: 'Amatic SC';
    font-size: 70px;
    font-weight: bold;
    color: $main-color;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
  }
  .container-b {
    padding: 80px;
  }
  .banner-show {
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-bottom: 30px;
  }
  #description-c {
    margin-left: 300px;
    margin-bottom: 30px;
    position: absolute;
    right: 880px;
    bottom: -150px;
  }
  .avatar-a {
    position: absolute;
    right: 880px;
    bottom: -10px;
    width: 70px;
    border-radius: 50%;
  }
  .bg-img {
    display: flex;
    align-items: center;
  }
  .btn-show {
    display: flex;
    position: absolute;
    right: 120px;
    bottom: -250px;
  }
  .create-button {
    padding: 15px;
    width: 500px;
    text-align: center;
  }
  .container-a {
    border: 2px solid white;
    text-align: center;
    border-radius: 8px;
    background-color: $main-color;
    width: 500px;
    position: absolute;
    right: 120px;
    bottom: -150px;
    padding-bottom: 10px;
  }
  h2 {
    font-family: 'Amatic SC';
  }
}

