.container-edit {
    font-size: 20px;
    text-align: center;
    background-color: $main-color;
    margin-top: 20px;
    width: 400px;
    border-radius: 9px;
    // box-shadow: 10px 5px 5px lightgray;
    color: $main-color;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 7px;
    h2 {
        color: black;
        font-family: $h2-font;
    }
    a {
        text-decoration: none;
        color: $main-color;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
    .van_pictures {
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .string {
        font-family: $headers-font;
        color: black;
    }
    .integer {
        font-family: $headers-font;
        color: black;
    }
    .file .optional {
        font-family: $headers-font;
        color: black;
    }
    .date {
        font-family: $headers-font;
        color: black;
    }
    .form-check-label {
        font-family: $headers-font;
        color: black;
    }
    #van_town {
        color: black;
    }
    #van_prices {
        color: black;
        width: 96px;
    }
    #van_year {
        color: black;
        width: 96px;
    }
    #van_kilometers {
        color: black;
        width: 96px;
    }
    #van_availability_1i {
        color: black;
        width: 70px;
    }
    #van_availability_2i {
        color: black;
        width: 117px;
    }
    #van_description {
        color: black;
    }
    #van_availability_3i {
        color: black;
        width: 65px;
    }
    .form-check {
        display: flex;
        justify-content: start;
    }
    .van_availability {
        display: flex;
        justify-content: space-around;
    }
}