.new {
    font-size: 60px;
    text-align: center;
    background-color: #FFFFFF;
    margin-top: 15px;
    width: 604px;
    margin-left: 207px;
    border-radius: 9px;
    box-shadow: 10px 5px 5px lightgray;
}