.new {
  font-size: 60px;
  text-align: center;
  // background-color: $main-color;
  margin-top: 292px;
  width: 604px;
  // margin-left: 207px;
  border-radius: 9px;
  // box-shadow: 10px 5px 5px lightgray;
}




.van_new {

  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1570630819727-b32fda434a7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    // margin: 0 auto;

    .form-group {
        width: 88%;
        margin-right: 74px;
    }

    .form-group date required van_availability {
      
    }
    
    // #button-show {
    //     margin-left: 300px;
    // }
    
    a {
        text-decoration: none;
        color: $main-color;
    }
    
    a:hover {
      text-decoration: none;
      color: white;

    }

    #button-show {
      margin-left: 300px;
    }
    #button-show2 {
      margin-left: 8px;
      color: white;
      text-decoration: none;
    }

    .string {
      font-family: $headers-font;
      color: black;
    }

    .integer {
      font-family: $headers-font;
      color: black;
    }

    .date {
      font-family: $headers-font;
      color: black;
    }

    .form-check-label {
      font-family: $headers-font;
      color: black;
    }
    #van_town {
      color: black;
    }
    #van_prices {
      color: black;
      width: 96px;
    }
    #van_year {
      color: black;
      width: 96px;
    }
    #van_kilometers {
      color: black;
      width: 96px;
    }

    #van_availability_1i {
      color: black;
      width: 65px;
    }

    #van_availability_2i {
      color: black;
      width: 117px;
    }

    #van_description {
      color: black;
    }

    #van_availability_3i {
      color: black;
      width: 65px;
    }

    .form-control mx-1 date required {
      color: black;
    }

    .form-row {
      margin-right: 106px;
    }

    .col {
      width: 96px;
    }



    .form-home {
    width: 416px;
    margin-right: 18px;
    margin-bottom: 18px;
    }

 
}

