.banner-home {
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.banner-index {
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-bottom: 30px;
}

.banner-show {
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-bottom: 30px;
}
