.create-button {
    font: 16px $headers-font;
    padding: 6px 13px;
    background-color: rgb(60, 178, 201);
    color: rgb(51, 51, 51);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    };